    /*Общие свойства всех страниц*/

/*Исключение браузерной таблицы стилей*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Фоновый цвет всех страниц*/
body{
    background-color: rgb(61, 90, 128, 0.4);
}

/*Общий хидер для всех страниц*/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    font-weight: bold;
    background-color: rgb(41, 50, 65, 0.3);
    padding: 1rem;
}


/*Отключение декорации текста и автоматического цвета*/
header a, nav a{
    text-decoration: none;
    color: black;
}

/*Цвет ссылок хидера при наведении*/
header a:hover{
    color: gold;
}

/*Цвет ссылок нав. меню при наведении*/
nav a:hover{
    color: gold;
    font-weight: bold;
}

/*Выпадающее меню списка статей*/
header div:nth-child(2){
    display: flex;
    flex-direction: column;
}

/*Выпадающее меню статей*/
header div:nth-child(2) div:nth-child(2){
    display: none;
    top: 2rem;
    position: absolute;
    padding: 8px;
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: rgb(41, 50, 65, 0.3);
    z-index: 1;
}

/*Отступ между ссылками*/
header div:nth-child(2) div:nth-child(2) a{
    margin: 8px;
}

/*Включени блока статей при наведении*/
header div:nth-child(2):hover div:nth-child(2){display: flex;}

    /*Основной контент*/
main{
    display: flex;
    flex-wrap: wrap;
}

/*Медиа-запрос для адаптации*/
@media (max-width: 1000px) {main{flex-direction: column;}}

/*Внутренние настройки блоков*/
nav, .main, aside{
    margin: 16px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(152, 193, 217, 0.5);
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

/*Нав. меню*/
nav{
    flex: 1;
}

/*Отступ вокруг списка*/
nav ul, aside ul{
    margin: 1rem;
}

/*Центральная часть основного контента*/
.main{
    flex: 4;
}

/*Заголовков*/
h1, h2{
    text-align: center;
}

/*Верхний отступ для элементов текста*/
main h1, h2, p, aside h2, li{
    margin-top: 5px;
}

/*Настройки изображения в основной части*/
.main img{
    border-radius: 20px;
    width: 50%;
    transform: translate(50%);
}

/*Оступы между элментами списка в основной части*/
.main ul{
    padding: 16px;
}


    /*Сайд-бар*/
aside{
    flex: 1;
}
    /*Главная страница*/

/*Настройки изображения*/
body img:first-child{
    background-size: cover;
    width: 100%;
}

/*Особенность хидера основной страницы*/
#main_header{
    position: absolute;
    top: 0;
}

/*Заголовок страницы*/
#title{
    width: 100%;
    padding: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.9);
}

    /*Контакты*/

/*Фоновое изображение контактов*/
.background_сontacts{
    background-image: url(../images/background_contacts.jpg);
    background-size: cover;
}

/*Блок с формами и текстом*/
#form{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/*Формы*/
.form{
    margin: 16px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: rgb(65, 90, 119, 0.5);
}

/*Внутренние настройки форм*/
.form input, textarea{
    margin: 1rem;
    padding: 1rem;
    display: block;
    border: none;
    border-radius: 10px;
    text-align: inherit;
    width: 90%;
}

/*Отключение изменений размер*/
textarea{
    resize: none;
}

/*Настройки кнопки*/
#button{
    text-align: center;
}

/*Кнопка при наведении*/
#button:hover{
    background-color:cornflowerblue;
}

    /*Подвал сайта*/
footer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 100%;
    background-color: rgb(41, 50, 65, 0.3);

}


