/*Общие свойства всех страниц*/

/*Исключение браузерной таблицы стилей*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/*Фоновый цвет всех страниц*/
body{
    background-color: rgb(204, 204, 204, 0.5);
}



/*Общий хидер для всех страниц*/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: bold;
    background-color: rgb(41, 50, 65, 0.5);
}

p, ul, header{
    font-size: 20px;
}


/*Отключение декорации текста и автоматического цвета*/
header a, nav a{
    text-decoration: none;
}

nav a{
    color: black;
}

header a{
    color: #fdf4dc;
}

header div{
    padding: 1rem;
}

h1, h2{
    color: blue;
}


/*Цвет ссылок хидера при наведении*/
header a:hover{
    color: gold;
}

/*Цвет ссылок нав. меню при наведении*/
nav a:hover{
    color: royalblue;
}


/*Выпадающее меню списка статей*/
.menu_content{
    display: none;
    position: absolute;
    top: 55px;
    z-index: 1;
    background-color: rgb(41, 50, 65, 0.5);
}

/* Настройки ссылок */
.menu_container a{
    padding: 0.5rem;
    text-decoration: none;
}
/* Выпадение списка при наведение */
.menu_container:hover .menu_content{
    display: flex;
    flex-direction: column;
}

.menu_name{
    border: none;
    color: #fdf4dc;
    font-size: 20px;
    background-color: rgb(41, 50, 65, 0);
    font-weight: bold;
    height: 100%
}

    /*Основной контент*/
main{
    display: flex;
    flex-wrap: wrap;
}

/*Медиа-запрос для адаптации*/
@media (max-width: 1024px){
    main{
        flex-direction: column;
    }
    div.main_picture{
        height: 25vh;
    }
    h1, h2, ul, p, a, button.menu_name{
        font-size: medium;
    }
    div.main_picture{
        align-items: flex-end;
    }
    div.main_picture p{
        display: none;
    }
}

/*Внутренние настройки блоков*/
nav, .main, aside{
    margin: 16px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
    border: 1px royalblue solid;
}

nav:hover{

}

/*Нав. меню*/
nav{
    flex: 1;
}

/*Отступ вокруг списка*/
nav ul, aside ul{
    margin: 1rem;
}

/*Центральная часть основного контента*/
.main{
    flex: 4;
}

/*Заголовков*/
h1, h2{
    text-align: center;
}

/*Верхний отступ для элементов текста*/
main h1, h2, p, aside h2, li{
    margin-top: 5px;
}

/*Настройки изображения в основной части*/
.main img{
    border-radius: 20px;
    width: 50%;
    transform: translate(50%);
}

/*Оступы между элментами списка в основной части*/
.main ul{
    padding: 16px;
}


    /*Сайд-бар*/
aside{
    flex: 1;
}
    /*Главная страница*/

/*Настройки изображения*/
.main_picture{
    background: url(../images/main_picture.jpg);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}


.title{
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: rgb(41, 50, 65, 0.5);
    width: 100%;
}

.title p{
    font-size: small;
}

.body img:first-child{
    display: none;
}


/*Особенность хидера основной страницы*/
#main_header{
    position: absolute;
    top: 0;
}

    /*Контакты*/

/*Фоновое изображение контактов*/
.background_сontacts{
    background-image: url(../images/background_contacts.jpg);
    background-size: cover;
}

/*Блок с формами и текстом*/
#form{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/*Формы*/
.form{
    margin: 16px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: rgb(65, 90, 119, 0.5);
}

/*Внутренние настройки форм*/
.form input, textarea{
    margin: 1rem;
    padding: 1rem;
    display: block;
    border: none;
    border-radius: 10px;
    text-align: inherit;
    width: 90%;
}

/*Отключение изменений размер*/
textarea{
    resize: none;
}

/*Настройки кнопки*/
#button{
    text-align: center;
}

/*Кнопка при наведении*/
#button:hover{
    background-color:royalblue;
}

    /*Подвал сайта*/
footer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    background-color: rgb(41, 50, 65, 0.5);
}


.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links a{
    height: auto;
    width: 25%;
}
.links img{
    border-radius: 100%;
}